# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Anaconda environment folders
.env/
.venv/
conda_env/
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.out
*.err

# Ignore hidden files
.*~
*.swp
